
// REACT-TRANSITION-GROUP ANIMATIONS
.left-slide-enter, .left-slide-appear {
  transform: translateX(-300%);
  opacity: 0;
}
.left-slide-enter-active, .left-slide-appear-active{
  transform: translateX(0);
  opacity: 1;
  transition: all 1500ms;
}
.left-slide-exit {
  transform: translateX(0);
}
.left-slide-exit-active {
  transform: translateX(-300%);
  transition: all 1500ms;
}

.right-slide-enter {
  transform: translateX(300%);
  opacity: 0;
}
.right-slide-enter-active{
  transform: translateX(0);
  opacity: 1;
  transition: all 1500ms;
}
.right-slide-exit {
  transform: translateX(0);
}
.right-slide-exit-active {
  transform: translateX(300%);
  transition: all 1500ms;
}

.fade {
  position: absolute;
}
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: all .5s;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: all .5s;
}
.fade2-enter {
  opacity: 0;
}
.fade2-enter-active {
  opacity: 1;
  transition: all .5s ease-in-out;
}
.fade2-exit {
  opacity: 1;
}
.fade2-exit-active {
  opacity: 0;
  transition: all .5s ease-in-out;
}
.sidebar-bubble-enter {
  opacity: 0;
  transform: translateX(200%);
}
.side-bubble-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all .5s ease-in-out;
}
.side-bubble-exit {
  opacity: 1;
  transform: translateX(0%);
}
.side-bubble-exit-active {
  opacity: 0;
  transform: translateX(200%);
  transition: all .5s ease-in-out;
}
.slide-from-left-exit {
  transform: translateX(-100%);
}
.slide-from-left-exit-active {
  transform: translateX(0);
  transition: all .5s ease-in-out;
}
.slide-from-right-exit {
  transform: translateX(100%);
}
.slide-from-right-exit-active {
  transform: translateX(0);
  transition: all .5s ease-in-out;
}
.section-scroll-exit {
  transform: translateY(200%);
}
.section-scroll-exit-active {
  transform: translateY(0%);
  transition: all 600ms ease-in-out;
}
.section-scroll-enter {
  transform: translateY(0%);
}
.section-scroll-enter-active {
  transform: translateY(-200%);
  transition: all 600ms ease-in-out;
}
.section-scroll-inverse-exit {
  transform: translateY(-200%);
}
.section-scroll-inverse-exit-active {
  transform: translateY(0%);
  transition: all 600ms ease-in-out;
}
.section-scroll-inverse-enter {
  transform: translateY(0%);
}
.section-scroll-inverse-enter-active {
  transform: translateY(200%);
  transition: all 600ms ease-in-out;
}

.hint-appear {
  opacity: 0;
}
.hint-appear-active {
  opacity: 1;
  transition: all .3s ease-in-out;
}
.hint-exit {
  opacity: 1;
}
.hint-exit-active {
  opacity: 0;
  transition: all .3s ease-in-out;
}

// React router pages
.page-appear {
  opacity: 0;
}
.page-appear-active {
  opacity: 1;
  transition: all .3s ease-in-out;
}
.page-enter {
  opacity: 0; 
}
.page-enter-active {
  opacity: 1;
  transition: all .3s ease-in-out;
}
.page-exit {
  opacity: 1;
}
.page-exit-active {
  opacity: 0;
  transition: all .3s ease-in-out;
}
