#img-me {
  min-height: 300px;
  width: 400px;
}

#page-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}
#inner-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.me {
  flex: 1;
}
